  /* header */

.navbar.navbar-light {
    background-color: #2A649D;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}

#logo {
    width: 180px;
    height: 80px;
    margin-left: 10px;
}
.bi-person-circle {
    font-size: 50px; 
    color: #fff;
  }

body, html {
    height: 100%;
    margin: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 15px;
    color: #73777A;
    font-weight: 400;
}
.sideNavItems {
    display: flex;
    align-items: center;
    color: #2A649D;
}

#tools {
    margin-top: 50px;
}

.sideNavItems .nav-link{
    color: #2A649D; 
    font-weight: 500;
}



  
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header, aside, main, footer {
    padding: 1em;
  }
  
  
  /* Sidebar */
  aside {
    background-color: #fff;
    width: 200px;
    height: calc(100vh - 2em); /* Full height minus header/footer */
    float: left;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  

  aside ul {
    list-style-type: none;
  }
  
  aside ul h2 {
    color: #8BB31D;
    margin-left: 10px;

  }
  aside ul li {

    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

  }
  
  aside ul li:hover {
    background-color: #b9d56b;
  }
  
  /* Main Content */
  main {
    margin-left: 190px; /* Same as sidebar width */
  }
  
  main section {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  main h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
  }
  
  main article div {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  
  /* Footer */
  footer {
    background-color: #72777A;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin-bottom: 0.5em;
  }
  
  footer nav a {
    margin: 0 10px;
    color: #faf7f7;
    text-decoration: none;
  }
  
  footer nav a:hover {
    text-decoration: underline;
  }
  